.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* background-color: white; */
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 500px;
  height: 500px;
}

.cell {
  border: 1px solid black;
}
